@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  width: 109%;
  border: none;
  padding: 24px;
  margin: -23px;
  margin-bottom: 50px;
  margin-top: 70px;
  background: transparent;
  font-size: 40px;
  text-align: end;
  cursor: pointer;
  color: #000000;
}

input::placeholder {
  color: #000000;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 228, 228);
}

.calculator {
  width: 400px;
  height: 720px;
  border: 1px solid rgb(100, 100, 100);
  padding: 30px;
  border-radius: 16px;
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0px 3px 10px rgb(194, 194, 194);
  transition: transform 0.3s ease-in-out; /* Added transition property */
}

button {
  border: none;
  width: 68px;
  height: 68px;
  margin: 6px;
  border-radius: 50px;
  background-color: white;
  font-size: 25px;
  box-shadow: -1px -1px 10px rgb(223, 223, 223);
  cursor: pointer;
}

.equalBtn {
  background-color: orangered;
}

.grey {
  background-color: rgb(195, 195, 195);
}

.cls {
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}

@media (max-width: 800px) and (max-height: 200px) {
  .calculator {
    padding: 20px;
  }

  input {
    font-size: 40px;
    padding: 14px;
  }

  button {
    width: 70px;
    height: 70px;
    font-size: 18px;
    margin: 8px;
  }

  .cls {
    font-size: 24px;
  }
}

